.env
example.env
db_code/__pycache__/db_dm.cpython-38.pyc
db_code/__pycache__/db_friends.cpython-38.pyc
db_code/__pycache__/db_keys.cpython-38.pyc
db_code/__pycache__/db_pw_reset.cpython-38.pyc
db_code/__pycache__/db_thoughts.cpython-38.pyc
db_code/__pycache__/db_users.cpython-38.pyc
email_code/__pycache__/__init__.cpython-38.pyc
email_code/__pycache__/email_code.cpython-38.pyc
.cpython-38.pyc
__pycache__/main.cpython-38.pyc
__pycache__/models.cpython-38.pyc
env.txt
/__pychache__

__pycache__/settings.cpython-38.pyc
